@use 'variables';

.pru {

  .mat-tab-group {
    width: 100%;
  }

  .mat-tab-label {
    height: 3.5rem;
    display: flex;

    &,
    .mat-icon {
      font-size: variables.$font-size-13;
    }

    .mat-icon {
      margin: variables.$space-11 variables.$space-2 0 0;
    }
  }

  .mat-tab-label-active {
    color: variables.$white-100;
    background-color: variables.$gray-800;
  }

  .mat-tab-body-wrapper {
    flex: 1;
  }

  .mat-tab-body {
    flex: 1;
  }
}