@use "variables";

.pru {

  .mat-toolbar {
    color: variables.$white-300;

    .mat-button {
      font-size: variables.$font-size-13;
    }
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 3rem;
  }

}