@use "variables";

html {
  scrollbar-face-color: variables.$gray-500;
  scrollbar-base-color: variables.$gray-500;
  scrollbar-3dlight-color: variables.$gray-500;
  scrollbar-highlight-color: variables.$gray-500;
  scrollbar-track-color: variables.$gray-800;
  scrollbar-arrow-color: variables.$gray-800;
  scrollbar-shadow-color: variables.$gray-500;
  scrollbar-dark-shadow-color: variables.$gray-500;
}

::-webkit-scrollbar { width: 1.4rem; height: 1.4rem; }
::-webkit-scrollbar-button { height: 0; width: 0; }
::-webkit-scrollbar-track { background-color: variables.$gray-600; }
::-webkit-scrollbar-track-piece { background-color: variables.$gray-800; border: 0.1rem solid variables.$gray-500; }
::-webkit-scrollbar-thumb { height: 5rem; background-color: variables.$gray-600; }
::-webkit-scrollbar-corner { background-color: variables.$gray-600; }
::-webkit-resizer { background-color: variables.$gray-600; }