@use "../../../../styles/variables";

.script-tree-title {
  text-transform: uppercase;
  font-size: variables.$font-size-11;
  font-weight: normal;
  margin: 0 0 0 variables.$space-20;
  padding: 0;
  line-height: 3.5rem;
  color: variables.$white-300;
}

.script-tree-invisible {
  display: none;
}

.script-tree ul,
.script-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}