@use "../../../../styles/variables";

.settings-pane {
  display: block;
  width: 40rem;
  padding: variables.$space-15;

  .mat-form-field {
    display: block;
  }

  .settings-error {
    color: variables.$red-500;
    margin-bottom: variables.$space-10;
  }
}

#settings-search-paths {
  min-height: 20rem;
}