@use "styles/variables";
@use "styles/common";
@use "styles/mat-radio-button";
@use "styles/mat-button";
@use "styles/mat-drawer";
@use "styles/mat-form-field";
@use "styles/mat-menu";
@use "styles/mat-tab";
@use "styles/mat-toggle-button";
@use "styles/mat-toolbar";
@use "styles/mat-tree";
@use "styles/mat-dialog";
@use "styles/as-split";
@use "styles/scrollbar";

html {
  font-size: 62.5%; // 10px;
}

body {
  background-color: variables.$gray-800;
  color: variables.$white-300;
  font-family: variables.$font-family-body;
  font-size: variables.$font-size-13;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}