@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$blue: map.merge(mat.$m2-blue-palette, (
  100: #b3d7f0,
  500: #007acc,
  700: #005db9
));
$gray: map.merge(mat.$m2-grey-palette, (
  100: #d7d7d7,
  500: #797979,
  700: #5c5c5c
));
$red: map.merge(mat.$m2-red-palette, (
  100: #ffb3b3,
  500: #ff0000,
  700: #cc0000
));

$theme-primary: mat.m2-define-palette($blue, 500, 100, 700);
$theme-accent: mat.m2-define-palette($gray, 500, 100, 700);
$theme-warn: mat.m2-define-palette($red, 500, 100, 700);
$theme-typography: mat.m2-define-typography-config(
  $font-family: 'Roboto',
  $headline-1: mat.m2-define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  $headline-2: mat.m2-define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  $headline-3: mat.m2-define-typography-level(45px, 48px, 400, 'Roboto'),
  $headline-4: mat.m2-define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400, 'Roboto'),
  $headline-6: mat.m2-define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  $subtitle-1: mat.m2-define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  $subtitle-2: mat.m2-define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  $body-2: mat.m2-define-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  $body-1: mat.m2-define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  $button: mat.m2-define-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  $caption: mat.m2-define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em)
);

$theme: mat.m2-define-dark-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn
  ),
  typography: $theme-typography
));
$alt-theme: mat.m2-define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn
  ),
  typography: $theme-typography
));

@include mat.all-component-themes($theme);

.theme-alternate {
  @include mat.all-component-colors($alt-theme);
}

body {
  --primary-color: #007acc;
  --primary-lighter-color: #b3d7f0;
  --primary-darker-color: #005db9;
  --text-primary-color: #ffffff;
  --text-primary-lighter-color: rgba(0, 0, 0, 0.87);
  --text-primary-darker-color: #ffffff;
  --accent-color: #797979;
  --accent-lighter-color: #d7d7d7;
  --accent-darker-color: #5c5c5c;
  --text-accent-color: #ffffff;
  --text-accent-lighter-color: rgba(0, 0, 0, 0.87);
  --text-accent-darker-color: #ffffff;
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #cc0000;
  --text-warn-color: #ffffff;
  --text-warn-lighter-color: rgba(0, 0, 0, 0.87);
  --text-warn-darker-color: #ffffff;
}

.mat-mdc-raised-button, .mat-mdc-outlined-button, .mat-mdc-unelevated-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-mdc-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}
